body {
  font-family: Arial;
}

#header {
  background-color: red;
  height: 70px;
  font-weight: bold;
}

h1 {
  font-size: 30px;
  padding: 20px;
  color: white;
}

#login {
  position: absolute;
  right: 0px;
  padding: 30px;
  color: white;
}

.link {
  color: white;
  padding: 10px
}

#subheader {
  background-color: rgb(65, 65, 65);
  text-align: right;
  padding: 30px;
}

#body {
  padding-left: 30px;
  padding-bottom: 30px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

aside {
  font-size: 18px;
  font-weight: bold;
  width: 25%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
}

#Art_Museum {
  padding-bottom: 20px
}

.image {
  padding-bottom: 60px;
  width: 260px;
  height: 170px;
}

footer {
  background-color: rgb(48, 47, 47);
  color: white;
  padding: 30px
}